#section-4 {
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;

   .content-text {
      position: relative;
      z-index: 2;
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      & p {
         font-size: 0.9rem;
         text-align: center;
      }

      & #p1 {
         margin-left: 20%;
         font-family: var(--font-title);
         font-size: 1.5rem;
      }
      & #p2 {
         margin-left: 15%;
      }

      & #p4 {
         margin-right: 20%;
      }

      & #p6 {
         margin-left: 5%;
      }
   }

   .photo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 1;
      width: 90px;
      height: 90px;
      background-color: white;

      & .photo {
         position: relative;
         width: 90%;
         height: 90%;
         object-fit: cover;
      }

      & .pin {
         z-index: 3;
         position: absolute;
         width: 40px;
         height: 40px;
         top: -30px;
         left: 1rem;
      }
   }

   .photo-container-1 {
      top: 80px;
      left: 1rem;
      transform: rotate3d(0, 3, -3, 60deg);

      & .pin {
         transform: rotate3d(0, 1, -2, 70deg);
      }
   }

   .photo-container-2 {
      top: 50%;
      right: 0.2rem;
      transform: rotate3d(0, 3, 3, 60deg);

      & .pin {
         transform: rotate3d(0, 1, -2, 70deg);
      }
   }

   .photo-container-3 {
      bottom: 30px;
      left: -0.2rem;
      transform: rotate3d(0, 3, -2, 60deg);

      & .pin {
         transform: rotate3d(0, 1, -2, 70deg);
      }
   }
}

.fade {
   animation: fade .5s ease-in forwards;
   opacity: 0;
}

@keyframes fade {
   to {
      opacity: 1;
   }
}

& .fade-in {
   animation: fadeIn .5s ease-in forwards;
   opacity: 1;
}

@keyframes fadeIn {
   to {
      opacity: 0;
   }
}

.slide-up {
  animation: slideUp 1s ease-out forwards;
  opacity: 1;
  transform: translateY(0); /* posição inicial */
}

@keyframes slideUp {
  to {
    opacity: 0;
    transform: translateY(-20px); /* posição final */
  }
}